*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}
